/*热搜弹出窗*/
.searchPop {
  overflow-y: scroll;
  margin: 0 !important;
  width: 350px; 
  height: 450px; 
  padding: 12px 12px 0 12px !important;
}

/*隐藏热搜榜滚动条*/
.searchPop::-webkit-scrollbar {
  display: none;
}

.el-tabs {
  --el-tabs-header-height: 50px !important;
}

/*选择登录方式下面不要横线分隔标签和内容*/
.el-tabs__nav-wrap::after {
  height: 0 !important;
}

/*选择登录方式的下划线*/
.el-tabs__active-bar {
  background-color: rgb(251, 147, 72) !important;
  bottom: 4px !important;
  height: 3px !important;
}

/*选择登录方式悬停文字变色*/
.el-tabs__item:hover {
  color: black !important;
}

/*选择登录方式目标文字变色加粗*/
.el-tabs__item.is-active {
  color: black !important;
  font-weight: 600;
}

/*选择登录方式标签字号颜色*/
.el-tabs__item {
  font-size: 17px !important;
  color: rgb(82, 82, 82);
}

/*取消原来自带的右边线*/
.el-menu {
  border: none;
}

/*侧边栏菜单文本溢出处理*/
.el-menu-item {
  display: block;
  text-overflow: ellipsis;  /*表示文本内容溢出时显示省略号（...）*/
  overflow: hidden; /*表示溢出内容隐藏不显示*/
  white-space: nowrap;  /*表示文本内容不换行，即强制一行显示*/
}

/*侧边栏菜单样式*/
.el-menu-item {
  height: 40px !important;
  line-height: 38px;
  font-size: 16px !important;
  margin: 7px 0px;
  padding: 0 0 0 20px !important;
}

.el-menu-item * {
  vertical-align: middle;
}

/*选中菜单样式*/
.el-menu-item.is-active {
  font-weight: 600;
  background-color: #f6f6f7;
}

/*侧边栏菜单项悬停和选中背景色*/
.el-menu-item:focus, .el-menu-item:hover {
  background-color: #f6f6f7 !important;
}

/*侧边栏右边界*/
.el-aside {
  border-right: 1px solid #ccc;
  height: calc(100vh - 145px);
}

/*侧边栏滚条宽度*/
.el-aside::-webkit-scrollbar {
  width: 6px;
}

/*侧边栏滚条颜色*/
.el-aside::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}

/*进度条球球样式*/
.el-slider__button {
  border: 1px solid #ccc !important;
  width: 10px !important;
  height: 10px !important;
}

/*进度条灰色地带*/
.el-slider__runway {
  height: 5px !important;
}

/*进度条已走地带*/
.el-slider__bar {
  height: 5px !important;
  background-color: rgb(251, 147, 72) !important;
}

/*备案号提示气泡权重搞大点，不然会被底部栏盖住*/
.el-popper.is-dark {
  z-index: 20000 !important;
}

/*歌单分类气泡样式*/
.sortPop {
  position: absolute;
  z-index: 0 !important;
  height: 40%;
  overflow-y: scroll;
}

/*歌单分类气泡滚动条宽度*/
.sortPop::-webkit-scrollbar {
  width: 6px;
}

/*分页按钮悬停时样式*/
.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover,
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: black !important;
  background-color: #f4f4f4 !important;
}

/*当前选中分页按钮样式*/
.el-pagination.is-background .el-pager li:not(.disabled).is-active {
  background-color: #D89F55 !important;
  color: white !important;
}

/*分页的全部按钮的总体样式*/
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background-color: #fff !important;
  border: 1px solid #ddd;
  font-weight: normal;
  border-radius: 5px;
}

/*歌单表格样式*/
.el-table .cell {
  text-overflow: ellipsis !important; /*文本溢出时的显示方式为省略号*/
  overflow: hidden !important;  /*超出部分隐藏*/
  white-space: nowrap !important; /*单元格中的文本不换行*/
}

/*将全局变量中定义的tr鼠标手指改回箭头*/
.el-table tr {
  cursor: auto !important;
}

/*歌单表格行宽*/
.el-table__row {
  width: 100%;
}

/*表格最左边缩进*/
.el-table--border td:first-child .cell, .el-table--border th:first-child .cell, .el-table .cell {
  padding-left: 20px;
}

tr .is-leaf:nth-child(8) {
  display: none;
} */

/*隐藏歌单表格的水平滚动条*/
.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: hidden !important;
}

/*歌单表格图标那两列的样式*/
.el-table .cell i:nth-child(1) {
  font-size: 18px;
}

/*歌单表格表头样式*/
.el-table th > .cell {
  font-weight: normal !important;
  color: rgb(148, 148, 148) !important;
}

/*歌曲标题加黑一点*/
.el-table__row td:nth-child(4) .cell {
  color: rgb(36, 36, 36) !important;
}

/*去掉每行之间的线条*/
.el-table td,
.el-table th.is-leaf {
  border: none !important;
}

/*对调一下斑马纹的显示行，原来是第一行白，第二行灰*/
.el-table__body tr.el-table__row--striped td {
  background-color: #fff !important;
}
tbody .el-table th,
.el-table tr {
  background-color: #f9f9f9 !important;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f0f1f2 !important;
}
.el-table__body tr.current-row > td {
  background-color: #e5e5e5 !important;
}

/*正在播放音乐行字体颜色*/
body .el-table .el-table__row .currentRow {
  color: #D89F55 !important;
}

/*隐藏表格最下面的灰边*/
.el-table__inner-wrapper::before {
  background-color: #fff !important;
}

/*抽屉0边框*/
.el-drawer__body {
  overflow: auto;
  /* overflow-x: auto; */
  padding: 0 !important;
}

/*抽屉暂无数据文字大小*/
.el-table__empty-text {
  font-size: 20px;
}

/*抽屉暂无数据盒子高度*/
.el-table__empty-block {
  min-height: 100px !important;
}

/*抽屉中的表格字体颜色*/
.el-drawer .el-table .cell {
  color: rgb(39, 39, 39) !important;
}

/*抽屉时间颜色调淡一点*/
.el-drawer .el-table td:nth-child(3) .cell {
  color: #aaa !important;
}


.el-drawer .el-table td,
.el-drawer__wrapper {
  bottom: auto !important;
}

/*抽屉大小*/
.el-drawer.ltr,
.el-drawer.rtl,
.el-drawer__container {
  height: calc(100vh - 80px) !important;
  width: 500px !important;
}


/*从右到左排列的标签样式*/
/* .rtl {
  width: 300px !important;
} */









.right .el-slider__button-wrapper {
  width: 10px !important;
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}



.el-dialog__body {
  padding: 0 20px 40px !important;
}

.el-dialog {
  border-radius: 10px !important;
}

.el-dialog__close:hover {
  color: #ea4848 !important;
}

.el-tooltip__popper {
  z-index: 20000 !important;
  transform: scale(0.9);
  bottom: 0px;
  top: unset !important;
}

.el-tooltip__popper .popper__arrow {
  bottom: 5px !important;
  top: unset !important;
}

