/*热搜弹出窗*/
.searchPop {
  overflow-y: scroll;
  margin: 0 !important;
  width: 350px; 
  height: 450px; 
  padding: 12px 12px 0 12px !important;
}

/*隐藏热搜榜滚动条*/
.searchPop::-webkit-scrollbar {
display: none;
}

/*选择登录方式下面不要横线分隔标签和内容*/
.el-tabs__nav-wrap::after {
  height: 0 !important;
}

/*选择登录方式的下划线*/
.el-tabs__active-bar {
  background-color: rgb(215, 134, 79) !important;
  bottom: 4px !important;
}

/*选择登录方式悬停文字变色*/
.el-tabs__item:hover {
  color: black !important;
}

/*选择登录方式目标文字变色加粗*/
.el-tabs__item.is-active {
  color: black !important;
  font-weight: 600;
}

/*选择登录方式标签字号颜色*/
.el-tabs__item {
  font-size: 15px !important;
  color: rgb(82, 82, 82);
}

/*取消原来自带的右边线*/
.el-menu {
  border: none;
}

/*侧边栏菜单文本溢出处理*/
.el-menu-item {
  display: block;
  text-overflow: ellipsis;  /*表示文本内容溢出时显示省略号（...）*/
  overflow: hidden; /*表示溢出内容隐藏不显示*/
  white-space: nowrap;  /*表示文本内容不换行，即强制一行显示*/
}

/*侧边栏菜单样式*/
.el-menu-item {
  height: 40px !important;
  line-height: 38px;
  font-size: 16px !important;
  margin: 7px 0px;
  padding: 0 0 0 20px !important;
}

.el-menu-item * {
  vertical-align: middle;
}

/*选中菜单样式*/
.el-menu-item.is-active {
  font-weight: 600;
  background-color: #f6f6f7;
}

/*侧边栏菜单项悬停和选中背景色*/
.el-menu-item:focus, .el-menu-item:hover {
  background-color: #f6f6f7 !important;
}

/*侧边栏右边界*/
.el-aside {
  border-right: 1px solid #ccc;
  height: calc(80vh);
}

/*侧边栏滚条宽度*/
.el-aside::-webkit-scrollbar {
  width: 6px;
}

/*侧边栏滚条颜色*/
.el-aside::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: black !important;
  background-color: #f4f4f4 !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #ec4141 !important;
  color: white !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background-color: #fff !important;
  border: 1px solid #ddd;
  font-weight: normal;
}

.el-table .cell {
  line-height: 20px !important;
  font-size: 12px !important;
  transform: scale(0.88);
  color: rgb(128, 128, 128) !important;
  text-overflow: ellipsis !important; /*文本溢出时的显示方式为省略号*/
  overflow: hidden !important;  /*超出部分隐藏*/
  white-space: nowrap !important; /*单元格中的文本不换行*/
}

.el-table .cell i:nth-child(1) {
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.el-table th > .cell {
  font-weight: normal !important;
  font-size: 12px !important;
  transform: scale(0.88);
  color: rgb(148, 148, 148) !important;
  margin-bottom: 5px;
}

.el-table__row td:nth-child(3) .cell {
  color: rgb(36, 36, 36) !important;
}

.el-table--mini td,
.el-table--mini th {
  padding: 3px 0 !important;
}

.el-table td,
.el-table th.is-leaf {
  border: none !important;
}

.el-table__body tr.el-table__row--striped td {
  background-color: #fff !important;
}

tbody .el-table th,
.el-table tr {
  background-color: #f9f9f9 !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #f0f1f2 !important;
}

.el-table__body tr.current-row > td {
  background-color: #e5e5e5 !important;
}

/* .el-slider__bar {
    background-color: #ff4e4e !important;
}

.el-slider__button {
    border: 1px solid #ccc !important;
    width: 10px !important;
    height: 10px !important;
}

.el-slider__runway {
    height: 5px ! important;
}

.el-slider__bar {
    height: 5px !important;
} */

.el-slider__button-wrapper {
  top: -16px !important;
}

.el-drawer__body {
  overflow: auto;
  /* overflow-x: auto; */
}

/*2.隐藏滚动条*/
.el-drawer__container ::-webkit-scrollbar {
  display: none;
}

.el-drawer .el-table .cell {
  color: rgb(39, 39, 39) !important;
}

.el-drawer .el-table td:nth-child(3) .cell {
  color: #aaa !important;
}

.el-drawer .el-table td,
.el-table th {
  padding: 5px 0;
}

/* .el-slider__button-wrapper {
    height: 4px;
} */

body .el-table .el-table__row .currentRow {
  color: #ec4141 !important;
}

.el-drawer__wrapper {
  bottom: auto !important;
}

.rtl {
  width: 300px !important;
}





.el-table__row {
  width: 100%;
}

.el-table__row td:nth-child(7) {
  display: none;
}

tr .is-leaf:nth-child(7) {
  display: none;
}

.el-table--scrollable-x .el-table__body-wrapper {
  overflow-x: hidden !important;
}

.right .el-slider__button-wrapper {
  width: 10px !important;
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}



.el-dialog__body {
  padding: 0 20px 40px !important;
}

.el-dialog {
  border-radius: 10px !important;
}

.el-dialog__close:hover {
  color: #ea4848 !important;
}

.el-tooltip__popper {
  z-index: 20000 !important;
  transform: scale(0.9);
  bottom: 0px;
  top: unset !important;
}

.el-tooltip__popper .popper__arrow {
  bottom: 5px !important;
  top: unset !important;
}

.sortPop {
  position: absolute;
  z-index: 0 !important;
  height: 40%;
  overflow-y: scroll;
}

.sortPop::-webkit-scrollbar {
  width: 6px;
}

/* 拖动条不能缩放，会有偏移问题 */
.el-slider {
  zoom: 0.8 !important;
}
