/*获取验证码按钮*/
body .btn-primary,
body .btn-primary:focus {
  background-color: rgb(186, 140, 69);
  color: white;
  transition: 0.1s all ease;  /*0.1s 表示过渡时间为 0.1 秒，all 表示所有属性都会产生过渡效果，ease 表示过渡效果是渐变的*/
  border: none;
}
body .btn-primary:hover {
  background-color: rgb(216, 159, 85);
  color: white;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}
* {
  scrollbar-width: thin;
}


